.article_outer{
    margin: 0 auto;
    width: 1180px;
   
}

.article_header{
    width: 1180px;
    height: 53.6px;
     /* border:solid 1px red;  */
}

.article_header span{
       float: left;
    height:54px;
    line-height: 54px;
    font-size: 12px;
    color: #888;
}

/* 条件筛选 */
.shaixuan{
    height: 442.6px;
    width: 1180px;
     /* border:solid 1px red;  */
}

.shuaixuan_first{
    width: 1180px;
    height: 45px;
     /* border:solid 1px red;  */
     line-height: 45px;
     font-size: 16px;
     color: #323942;
     font-weight: bold;
     border-bottom: 1px solid #eaeaea;
     margin-bottom: 15px;
}

.shuaixuan_first div{
    width: 64px;
    height: 42px;
    border-bottom: 4px solid orange;
}
.shaixuan_bottom{
    width: 1180px;
    height: 359.6px;
   
    background: #fafafa; 
}

.shaixuan_second{
    width: 1180px;
    height: 76px;
    /* border:1px solid rebeccapurple; */
    display: flex;
    line-height: 76px;
}

.shaixuan_second_left{
    width: 570px;
    padding: 8px 0;
    line-height: 18px;
    color: #8e99a9;
    padding-left: 10px;
    margin-left: 30px;
    
   
}

.shaixuan_second div:last-child{
    width: 120px;
    height: 38px;
    line-height: 38px;
    background: orange;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: relative;
    top:21px;
}

.shaixuan_third{
    width: 1180px;
    height: 283.6px;
     /* border:1px solid rebeccapurple; */
     font-size: 14px;
     
}
.shaixuan_third ul {
     width: 1180px;
     height: 33.6px;
   /* border:1px solid rebeccapurple; */
   line-height: 33.6px;
   margin-bottom: 3px;
}

.shaixuan_third ul:nth-child(1) li{
     margin-right: 40px;
}
.shaixuan_third ul:nth-child(1) li:first-child{
     margin-right: 0px;
}
.shaixuan_third ul:nth-child(2) li:first-child{
     margin-right: 0px;
}    
.shaixuan_third ul:nth-child(2) li{
    margin-right: 40px;
}
.shaixuan_third ul:nth-child(3) li,.shaixuan_third ul:nth-child(4) li,.shaixuan_third ul:nth-child(5) li,.shaixuan_third ul:nth-child(6) li{
     width: 105px;
    height: 33.6px;
    /* border:1px solid rebeccapurple; */
}
.shaixuan_third ul:nth-child(3) li:nth-child(10),.shaixuan_third ul:nth-child(4) li:nth-child(10){
     width: 122px;
}
.shaixuan_third ul:nth-child(3) li:nth-child(11),.shaixuan_third ul:nth-child(4) li:nth-child(11){
    position: relative;
    top:6px;
}
.shaixuan_third ul:nth-child(3) li:last-child,.shaixuan_third ul:nth-child(4) li:last-child{
     width:66px;
    height: 24px;
     background: orange;
    color: #fff;
    line-height: 24px;
    text-align: center;
     font-size: 14px;
}
.box{
    width: 42px;
    height:22px;
}


.shaixuan_third ul li{
    list-style: none;
    float: left;
}

.shaixuan_third ul li:first-child{
    width: 84px;
    height: 33.6px;
    text-align: center;
     /* border:1px solid rebeccapurple; */
}

.shaixuan_third ul:last-child li:nth-child(2),.shaixuan_third ul:last-child li:nth-child(3){
    margin-right: 20px;
    color: #8f9ba9;
    font-size: 12px;
}


/* 下面右边 */
.box_right{
    width: 270px;
    height: 675.6px;
    /* border: 1px solid skyblue; */
    float: right;
}

.box_right div:nth-child(2){
    width: 270px;
    height: 30px;
    background: orange;
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: relative;
    bottom: 35px;
}

.box_right div:nth-child(3) h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.box_right div:nth-child(3) p{
    font-size: 12px;
    font-weight: bold;
      margin-bottom: 15px;
}

.box_right div:nth-child(4) h3{
    font-size: 18px;
    color: #323942;
    margin-top: 40px;
    font-weight: normal;
}

.box_right div:nth-child(4) p{
    font-size: 14px;
    color: #535D6A;
   
}

.box_right div:nth-child(4) img{
    width: 70px;
    height: 70px;
    margin: 15px 0;
}

.box_left{
    width: 880px;
    /* height:1640px; */
    /* border: 1px solid skyblue; */
    float: left;
}

.middle{
    width: 1180px;
      height: 1680px; 
}

/* 左边上 */
.box_left_article{
    width: 880px;
    height: 45px;
      border-bottom: 1px solid #f3f3f3;
    line-height: 45px;
}

 .box_left_article>div{
    float: left;
    display: inline-block;
}
.checked{
    display: inline-block;
    color: #fb5032;
    padding: 0 6px;
    font-weight: bold;
}

.box_left_article ul{
    float: right;
} 

.box_left_article ul li{
    list-style: none;
     display: inline-block;
     margin-left: 40px;
     font-size: 14px;
     color: #9b9b9b;
}

.box_left_article ul li:first-child{
    color: #333;
    border-bottom: 4px solid orange;
    height:41px;

}

/* 左边下 */
.box_left_text{
    width: 880px;
    height: 251px;
     border-bottom: 2px solid #f3f3f3;
       /* border: 1px solid rebeccapurple; */
     /* padding: 40px 0; */
}

.box_left_text>div:nth-child(1){
     float:left;
     position: relative;
     top: 35px;
      /* margin-top: 35px;  */
}

.box_left_text>div:nth-child(2){
    width: 600px;
    height: 189px;
    /* border: 1px solid skyblue; */
    float: right;
     position: relative;
     top: 35px;
      /* margin-top: 35px;  */
}


 .box_left_text>div:nth-child(2) p:first-child{
    font-size: 20px;
    color: #323942;
    font-weight: bold;
    margin-bottom: 30px;
} 

.box_left_text>div:nth-child(2) p{
    font-size: 14px;
    color: #535D6A;
     margin-bottom: 15px;
}
/* 
小方框3 */

.box_left_text>div:nth-child(2)>div{
    width: 600px;
    height: 24px;
    /* border: 1px solid skyblue; */
}

.box_left_text>div:nth-child(2)>div div{
   
    display: inline-block;
    margin-right: 10px;
    background: #f1f7ff;
    width: 86px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #5c7596;
    font-size: 12px;
    border-radius: 5px;
}

 .onright{
    width: 92.36px;
    height: 64px;
    /* border:1px solid skyblue; */
    float: right;
    position: relative;
    left:600px;
    bottom: 100px;
} 

 .onright span{
     font-size: 30px;
     color: #fb5033;
     font-weight: bold;
 }

  .onright p:first-child{
        font-size:14px;
     color: #fb5033;
     margin-left: 20px; 
  }

  .onright p:last-child{
    font-size:12px;
     color: #898989; 
  }


  /* 按钮 */
  .article_footer{
    width: 880px;
    height:100px;
      /* border:1px solid red;   */
}

.article_footer>div{
    height: 32px;
     /* border:1px solid red; */
     position: relative;
     top: 30px;
}

.article_footer>div>div{
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-align: center;
    margin-left: 4px;
    border: 1px solid #dcdcdc;
    color: #323942;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left:650px;
}

.article_footer>div>div:first-child{
    color: white;
    background: orange;
}

.article_footer span{
    font-size: 12px;
    color: #8e99a9;
     position: relative;
     top:50px;
}




/* 小区 */
.xiaoqu{
    width: 1180px;
    height: 337px;
      /* border:1px solid red;   */
}

.xiaoqu>div:first-child{
    width: 1180px;
    height: 32px;
     /* border:1px solid red;  */
     font-size: 24px;
     color: #323942;
    
}

.xiaoqu>div:first-child i{
    margin-left: 10px;
    width: 5px;
    height: 23px;
    background: #fbb100;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.xiaoqu>div:nth-child(2){
    width: 1180px;
    height: 265px;
      /* border:1px solid red;   */
    margin-top: 32px;
   display: flex;
}

.xiaoqu>div:nth-child(2) p{
    /* border:1px solid red; 
  */
}

.xiaoqu>div:nth-child(2) div{
    width: 270px;
    height: 265px;
     /* border:1px solid red;  */
     margin-right: 20px;

}

.xiaoqu>div:nth-child(2)>div:last-child{
      margin-right: 0px;
      /* border:1px solid black;  */
}

.xiaoqu>div:nth-child(2)>div h4{
     width: 270px;
    height: 203px;
    line-height: 203px;
    font-size: 21px;
    color: #fff;
    text-align: center;
   position: relative;
   bottom: 208px;
   background: url(../images/pbg.png)
   
}

.xiaoqu>div:nth-child(2)>div>p{
     position: relative;
   bottom: 180px;
   /* margin-top: 10px; */
}

.xiaoqu>div:nth-child(2)>div  span{
    font-size: 14px;
    color: #96a0af;
    
}

.xiaoqu>div:nth-child(2)>div  i{
     font-size: 16px;
    color: #e8445b;
    margin-left: 100px;
}

/* 脚步上方 */
section .section_outer{
    width: 1180px;
    margin: 0 auto;
}

section{
    background: #f7f7f7;
    padding:20px 0 40px 0;
}

.section_top{
    height: 43px;
    /* border:1px solid rebeccapurple; */
    padding-left: 10px;
    border-bottom:1px solid #eaeaea;
    line-height: 43px;
}

.section_top div{
    float: left;
    margin-right: 56px;
    font-size: 14px;
    font-weight: bold;
    height: 95%;
}

.section_top div:hover{
    cursor: pointer;
    color: #fcb100;
    border-bottom: 3px solid #fcb100;
}

.section_bottom{

}
.section_bottom span{
    margin-right: 15px;
    line-height: 42px;
    font-size: 14px;
}

.section_bottom span:hover{
    color: #007ef3;
    cursor: pointer;
}
